.dropdown-container {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.16);
  color: black;
  transition: width 0.2s, height 0.2s;
  transform-origin: top;
  overflow: hidden;
  animation-duration: 0.2s;
  @keyframes tiltIn {
    0% {
      opacity: 0;
      transform: rotateX(-5deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  @keyframes tiltOut {
    0% {
      opacity: 1;
      transform: rotateX(0);
    }
    100% {
      opacity: 0;
      transform: rotateX(-5deg);
    }
  }

  .menu-content {
    position: absolute;
    width: fit-content;
    color: #222;
    font-size: 16px;
    transition: all 200ms;

    &.products-menu {
      opacity: 0;
      &.productsMenuIsActive {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
      &.solutionsMenuIsActive {
        transform: translateX(-201px);
      }
      &.developersMenuIsActive {
        transform: translateX(-201px);
      }
      &.resourcesMenuIsActive {
        transform: translateX(-201px);
      }
    }
    &.solutions-menu {
      opacity: 0;
      &.productsMenuIsActive {
        transform: translateX(201px);
      }
      &.solutionsMenuIsActive {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
      &.developersMenuIsActive {
        transform: translateX(-101px);
      }
      &.resourcesMenuIsActive {
        transform: translateX(-101px);
      }
    }
    &.developers-menu {
      opacity: 0;
      &.productsMenuIsActive {
        transform: translateX(101px);
      }
      &.solutionsMenuIsActive {
        transform: translateX(101px);
      }
      &.developersMenuIsActive {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
      &.resourcesMenuIsActive {
        transform: translateX(-101px);
      }
    }
    &.resources-menu {
      opacity: 0;
      &.productsMenuIsActive {
        transform: translateX(101px);
      }
      &.solutionsMenuIsActive {
        transform: translateX(101px);
      }
      &.developersMenuIsActive {
        transform: translateX(101px);
      }
      &.resourcesMenuIsActive {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
    }

    .section-top,
    .section-bottom {
      position: relative;
      padding: 30px 35px;
      padding-right: 100px;
      &:nth-child(2) {
        background-color: #f8f8f8;
        border-radius: 0 0 10px 10px;
        padding-bottom: 35px;
      }
      h3 {
        font-size: 15px;
        color: #888;
        text-transform: uppercase;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-height: 160px;
        height: auto;
        gap: 15px 160px;
        li {
          cursor: pointer;
          white-space: nowrap;
          &:hover i {
            color: #333;
          }
          i {
            font-size: 15px;
            color: #888;
            width: 20px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
