.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  align-items: center;
  padding-left: calc(50vw - 530px);
  display: flex;
  color: white;
  font-size: 17px;
  font-weight: 600;
  z-index: 1;
}
