nav {
    height: 100%;
    display: flex;
    margin-left: 163px;

    .navbar {
      height: 100%;
      display: flex;
    }

    .list-item {
      height: 100%;
      padding: 0 20px;
      display: inline-flex;
      align-items: center;
      cursor: default;
      &:last-child {
        cursor: pointer;
      }
    }

    .dropdown-positioning {
      // Horizontally center the dropdown menu below the header navigation
      position: absolute;
      height: 0;
      top: 70px;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: center;
      padding-right: 40px;
      perspective: 500px;
    }
  }